.links {
  display: flex;
  justify-content: center;
}

.link {
  border: 1px solid blueviolet;
  padding: 10px;
  margin: 10px;
}

.main-content {
  text-align: center;
}

.about-paragraphs {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;

  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
}

.contact {
  text-align: center;
}
